.guidance {
    text-align: center;
    font-size: large;
    padding: 1rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.reset-link {
    font-size: medium;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}