.suitcase {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-size: 2.5vmin;
    
}


.suitcase--closed {
    background: radial-gradient(silver, #8a99a3);
}

.suitcase--open {
    background: radial-gradient( lightgreen 0%, #74bd8d 75%,    #68aa7e 100%  );
}

.suitcase--first-choice {
    background: radial-gradient(gold, goldenrod);
    box-shadow: 0px 0px 5px 1px goldenrod;
}