.App {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-area: area;
  z-index: 1;

  background-color: black;
}



#root {
    display: grid;
    grid-template-areas: "area";
    max-width: 100vw;
    max-height: 100vh;
  }

