.App {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app__audience {
    background-image: url('https://the-public-domain-review.imgix.net/blog/2020/zoom-backgrounds/zoom-backgrounds-00003-web.jpg?fit=max&w=1200&h=850');
    flex-grow: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

