@font-face {
  font-family: GeoSansLight;
  src: url(https://localstorage.tools/game/font/GeosansLight.ttf);
}
body {
  margin: 0;
  font-family: GeoSansLight, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: GeoSansLight, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
