@font-face {
  font-family: GeoSansLight;
  src: url(https://localstorage.tools/game/font/GeosansLight.ttf);
}
body {
  margin: 0;
  font-family: GeoSansLight, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
